{% extends 'homebase.html' %}
{% load static %}

{% block title %} {{user.first.name}} Free Plagiarism Report{% endblock %}
{block keywords}Grammarly, turnitin{endblock}
{block description}Grammarly, turnitin, plagiarism{endblock}

{% block body %}
<br>
<br>
<!-- section -->
<div class="section" style="height: 80vh">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">

                <div class="pull-left">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{ message | safe }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>


                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Welcome, {{ user.first_name}} {{ user.last_name}}
                        </h3>
                    </div>
                </div>
                <hr>
                <div class="navbar-nav mr-auto">
                    <div class="form-inline">
                        <a class="nav-link active" style="padding-right: 20px;" href="/user">Dashboard <span
                                class="sr-only">(current)</span></a>

                        <a class="nav-link" style="padding-right: 20px;" href="/user/files"> History </a>

                        <a class="nav-link" style="padding-right: 20px;" href="/user/update"> Profile</a>
                    </div>
                </div>

                <hr>


                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">All Files</h3>
                    </div>
                </div>
                
                {% comment %} <table class="shopping-cart-table table"> {% endcomment %}
                <table style="width: 100%;">
                    <tr>
                        <th class="text-left">Date </th>
                        <th class="text-left">File Name </th>
                        <th class="text-center">Reports </th>
                        <th class="text-left"></th>
                    </tr>
                    {% for rs in ufiles %}
                    <tr>
                        <td class="text-left">{{ rs.create_at |date:"d/m/y" }} </td>
                        <td class="text-left">
                            <a href="{{ rs.files.url }}"> {{ rs.first_name}} </a>
                        </td>

                        <td class="text-left">

                            {% if rs.reports %} 
                            <a class="btn btn-success btn-block" style=" border: none; border-radius: 4px; background: #37517e; " href="{{ rs.reports.url}}"> Report </a>
                            {% else %} 
                            <a class="btn btn-success btn-block" style=" border: none; border-radius: 4px; background: #37517e; color: white; " > Not Ready </a>
                            {% endif %}

                        </td>

                        <td class="text-left">
                            <a class="btn btn-success" style=" border: none; border-radius: 4px; background: #37517e; " href="/user/deletefiles/{{ rs.id }}"
                                onclick="return confirm('Will be Delete ! Are you sure?')"> Delete </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
               

            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}