{% load static %}

Hello {{profile}},

<h2>Dear {{ user.first_name }} {{  user.last_name }}</h2>
<hr>
<h3>Your order is completed</h3>
<h3>Order Code : {{ ordercode }}</h3>
<h3> Phone : {{ profile.phone }}</h3>
<h3>Email : {{ profile.address }}</h3>
<h3>Thank You</h3>
 {{ user.first_name }}
    <hr> {{ user }}
    <hr> {{ user.email }}
<hr>
<h3>Thank You</h3>

<hr>

<table style="height: 5px;" width="596">
    <tbody>
        <tr>
            <td style="width: 112px;"><strong>Item</strong></td>
            <td style="width: 112px;"><strong>Price</strong></td>
            <td style="width: 113px;"><strong>Quantity</strong></td>
            <td style="width: 113px;"><strong>Total</strong></td>
        </tr>
    </tbody>
</table>
{% for rs in shopcart %}

<table style="height: 15px;" width="596">
    <tbody>
        <tr>
            <td style="width: 141px; text-align: left;padding-left: 0;">
               
                    {{rs.product.title}}
            </td>
            <td style="width: 142px;"><p>
                {% if rs.product.variant == 'None' %}
                {{ rs.product.price|floatformat:2 }}
                {% else %}
                {{ rs.variant.price|floatformat:2 }}
                {% endif %}
            </p></td>
            <td style="width: 142px; padding-left: 15px;"><p> {{rs.quantity}}</p></td>
            <td style="width: 142px;">$
                {% if rs.product.variant == 'None' %}
                {{ rs.amount|floatformat:2 }}
                {% else %}
                {{ rs.varamount|floatformat:2 }}
                {% endif %}</p></td>
        </tr>
    </tbody>
</table>

{% endfor %}
<p>&nbsp;</p>
<table style="height: 84px;" width="596">
    <tbody>
        <tr>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 142px;">&nbsp;TOTAL ITEAMS</td>
            <td style="width: 142px;">&nbsp;{{ subtotal}}</td>
        </tr>
        <tr>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 142px;">&nbsp;SHIPPING</td>
            <td style="width: 142px;">&nbsp;FREE</td>
        </tr>
        <tr>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 141px;">&nbsp;</td>
            <td style="width: 142px;">&nbsp;TOTAL</td>
            <td style="width: 142px;">&nbsp;{{total}}</td>
        </tr>
    </tbody>
</table>
<hr>


